################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TournamentsSynthesis/.vs/TournamentsSynthesis/config/applicationhost.config
