<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TournamentsWebApp</title>
    @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />*@
    <link rel="stylesheet" href="~/css/design.css">
</head>
<body>
        <header class="header">
            <nav class="navbar">

                <a class="navbar-brand desktop" asp-page="/LandingPage">
                    <img src="~/pic/kisspng-sport-logo-football-clip-art-sports-logos-5b51ce96b2d505.1023534515320879587325.png" alt="logo">
                </a>

                <div class="collapse navbar-collapse">
                    <ul class="navbar-nav">

                        <a class="nav-link dropdown-toggle" asp-page="/Home">
                        <li class="nav-item">

                            Home
                        </li>
                        </a>

                        <a class="nav-link dropdown-toggle" asp-page="/AvailableTournaments">
                        <li class="nav-item">

                            Available Tournaments
                        </li>

                        </a>


                        <li class="nav-item">|</li>

                        <a class="nav-link" asp-page="/Register">
                        <li class="nav-item">

                            Create Account
                        </li>

                        </a>
                    
                        <a class="nav-link" asp-page="/Login">
                        <li class="nav-item">
                            Login
                        </li>

                        </a>
          


                    </ul>
                </div>
            </nav>
        </header>

            @RenderBody()
    

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    @*<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>*@
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
