@page
@model TournamentsWebApp.Pages.AvailableTournamentsModel
@{
    if (User.Identity.IsAuthenticated)
    {
        Layout = "_Layout1";
    }
    else
    {
        Layout = "_Layout";
    }
}


<div class="container-content-grid">
    <div class="grid-container">
        <div class="grid-item">
            <div class="flex-container-grid-content">
                <div class="container-left">
                    <div class="picture-container">
                        <img src="pic/360_F_252750183_IbB0ENXBPiXXg2ig4tJXDZc4tRCgEzdM.jpg" alt="">
                    </div>
                    <div class="container-left-text">
                        <p>Location: Eindhoven, Rachelsmolen 1</p>
                        <p>Description: This is a badminton tournament which is for advanced players.</p>
                    </div>

                </div>

                <div class="container-right">
                    <h4>Tournament Infromation:</h4>
                    <p>Sport Type: Badminton</p>
                    <p>Tournament system: Round Robin</p>
                    <p>Start Date: 15.03.2022</p>
                    <p>End Date: 23.03.2022</p>
                    <p>Minumum Players: 4</p>
                    <p>Maximum Players: 10</p>
                    <p>Available: 2</p>
                </div>
            </div>
            <div class="register-container">
                <input type="submit" value="Register" class="loginbtn">
            </div>
        </div>
        <div class="grid-item">
            <div class="flex-container-grid-content">
                <div class="container-left">
                    <div class="picture-container">
                        <img src="pic/360_F_252750183_IbB0ENXBPiXXg2ig4tJXDZc4tRCgEzdM.jpg" alt="">
                    </div>
                    <div class="container-left-text">
                        <p>Location: Eindhoven, Rachelsmolen 1</p>
                        <p>Description: This is a badminton tournament which is for advanced players.</p>
                    </div>

                </div>

                <div class="container-right">
                    <h4>Tournament Infromation:</h4>
                    <p>Sport Type: Badminton</p>
                    <p>Tournament system: Round Robin</p>
                    <p>Start Date: 15.03.2022</p>
                    <p>End Date: 23.03.2022</p>
                    <p>Minumum Players: 4</p>
                    <p>Maximum Players: 10</p>
                    <p>Available: 2</p>
                </div>
            </div>
            <div class="register-container">
                <input type="submit" value="Register" class="loginbtn">
            </div>
        </div>
        <div class="grid-item">
            <div class="flex-container-grid-content">
                <div class="container-left">
                    <div class="picture-container">
                        <img src="pic/360_F_252750183_IbB0ENXBPiXXg2ig4tJXDZc4tRCgEzdM.jpg" alt="">
                    </div>
                    <div class="container-left-text">
                        <p>Location: Eindhoven, Rachelsmolen 1</p>
                        <p>Description: This is a badminton tournament which is for advanced players.</p>
                    </div>

                </div>

                <div class="container-right">
                    <h4>Tournament Infromation:</h4>
                    <p>Sport Type: Badminton</p>
                    <p>Tournament system: Round Robin</p>
                    <p>Start Date: 15.03.2022</p>
                    <p>End Date: 23.03.2022</p>
                    <p>Minumum Players: 4</p>
                    <p>Maximum Players: 10</p>
                    <p>Available: 2</p>
                </div>
            </div>
            <div class="register-container">
                <input type="submit" value="Register" class="loginbtn">
            </div>
        </div>
        <div class="grid-item">
            <div class="flex-container-grid-content">
                <div class="container-left">
                    <div class="picture-container">
                        <img src="pic/360_F_252750183_IbB0ENXBPiXXg2ig4tJXDZc4tRCgEzdM.jpg" alt="">
                    </div>
                    <div class="container-left-text">
                        <p>Location: Eindhoven, Rachelsmolen 1</p>
                        <p>Description: This is a badminton tournament which is for advanced players.</p>
                    </div>

                </div>

                <div class="container-right">
                    <h4>Tournament Infromation:</h4>
                    <p>Sport Type: Badminton</p>
                    <p>Tournament system: Round Robin</p>
                    <p>Start Date: 15.03.2022</p>
                    <p>End Date: 23.03.2022</p>
                    <p>Minumum Players: 4</p>
                    <p>Maximum Players: 10</p>
                    <p>Available: 2</p>
                </div>
            </div>
            <div class="register-container">
                <input type="submit" value="Register" class="loginbtn">
            </div>
        </div>
    </div>

</div>