@page
@model TournamentsWebApp.Pages.MyProfileModel
@{
    Layout = "_Layout1";
}

<div class="container-content-info">
    <section class="container-personal-info">

        <h2>Personal Information</h2>
        <p>Email: Badminton</p>
        <p>First Name: Round-Robin</p>
        <p>Last Name: Eindhoven, Rachelsmolen</p>
    </section>

    <section class="container-participations">
        <h2> Participations</h2>
        <div class="flex-continer-player-tournament">
            <div class="container-player-tournament">
                <div class="container-tourn-info">
                    <h3>Tournament Information</h3>
                    <p>Sport: Badminton</p>
                    <p>System: Round-Robin</p>
                    <p>Location: Eindhoven, Rachelsmolen</p>
                    <p>Start Date: 21.05.2022</p>
                </div>

                <div class="container-player-games">
                    <h3>Your Games</h3>
                    <div class="flex-container-table">
                        <table>
                            <tr>
                                <th>Game</th>
                                <th>Result</th>
                            </tr>
                            <tr>
                                <td>Rositsa - Daniil</td>
                                <td>16 - 21</td>
                            </tr>
                            <tr>
                                <td>Jakub - Henry</td>
                                <td>20 - 14</td>
                            </tr>
                        </table>
                    </div>
                </div>

                <div class="container-player-rank">
                    <h3>Rank: 1</h3>

                </div>
            </div>


            <div class="container-player-tournament">
                <div class="container-tourn-info">
                    <h3>Tournament Information</h3>
                    <p>Sport: Badminton</p>
                    <p>System: Round-Robin</p>
                    <p>Location: Eindhoven, Rachelsmolen</p>
                    <p>Start Date: 21.05.2022</p>
                </div>

                <div class="container-player-games">
                    <h3>Your Games</h3>
                    <div class="flex-container-table">
                        <table>
                            <tr>
                                <th>Game</th>
                                <th>Result</th>
                            </tr>
                            <tr>
                                <td>Rositsa - Daniil</td>
                                <td>16 - 21</td>
                            </tr>
                            <tr>
                                <td>Jakub - Henry</td>
                                <td>20 - 14</td>
                            </tr>
                        </table>
                    </div>
                </div>

                <div class="container-player-rank">
                    <h3>Rank: 1</h3>

                </div>
            </div>

        </div>
    </section>

    <div>
